<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato:400,900%7CLilita+One%7CVast+Shadow" rel="stylesheet">

	<link rel="stylesheet" href="/public/assets/css/styles.css" type="text/css" />
	<title>Eat Da Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
	{{{ body }}}
</body>

</html>